* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.about {
  height: 100vh;
  color: aliceblue;
}

.title {
  padding-top: 60px;
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  background-color: #252944;
  width: 65%;
  margin-left: 17.5%;
  height: 75vh;
  box-shadow: 12px 14px 30px 0.5px #a69ce7;
  border-radius: 20px;
}

.about_content {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  /* flex-direction: column; */
  height: 90%;
}

.about-text {
  line-height: 2rem;
  max-width: 500px;
  padding: 0 2rem;
  /* text-align: center; */
  /* justify-content: center; */
  line-height: 1.5;
  font-size: 1.2rem;
  /* background-color: red; */
  height: 65vh;
}

.about-text p {
  font-weight: 600;
  /* font-family: Georgia, serif; */
  font-size: 23px;
  letter-spacing: 0.6px;
  word-spacing: 2px;
  padding-inline-start: 0rem;
  text-align: left;
}

.button {
  justify-content: right;
  align-items: flex-end;
  background-color: #fff;
  width: 125px;
  margin-left: 170%;
  background: #f4d1ed;
  border-radius: 10px;
}

.button:hover {
  background-color: black;
  /* color: black; */
  background: #f8caed;
  transition: 0.5s;
}
